.footer {
    background: var(--black);
    text-align: center;
  }
  
  .footer .share {
    padding: 1rem 0;
  }
  
  .footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--white);
    border: var(--border);
    margin: 0.3rem;
    border-radius: 50%;
  }
  
  .footer .share a:hover {
    background-color: var(--main-color);
  }
  
  .footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 1rem;
  }
  
  .footer .links a {
    padding: 0.7rem 2rem;
    color: var(--white);
    border: var(--border);
    font-size: 2rem;
  }
  
  .footer .links a:hover {
    background: var(--main-color);
  }
  
  .footer .credit {
    font-size: 2rem;
    color: var(--white);
    font-weight: lighter;
    padding: 1.5rem;
  }
  
  