.home {
    /* min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../assets/banner5.png) no-repeat;
    background-size: cover;
    background-position: center; */
    /* padding: 2.5rem 0 0 ; */
  }

  #home .row {
    background: none;
  }
  
  .home .content {
    /* max-width: 60rem; */
    padding: 80px 0 0 ;
  }
  
  /* .home .content h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
  }
  
  .home .content p {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee;
  } */

  .home .content .image{
    background: #333;
    border-radius: 1rem;
    outline: 1.5px solid rgba(255,255,255, 0.5);
    outline-offset: -12px;
    box-shadow: 3px 3px 10px;
    position: relative;
    overflow: hidden;
    
  }
  
  .home .content .image img{
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: transform 0.75s ;
  }
  
  .home .content .image:hover img {
    transform: scale(1.05);
    outline: 1.5px solid rgba(255,255,255, 0.5);
    opacity: 0.6;
  }

  .home .content .image p {
    display: none;
    color: #eee;
    position: absolute;
    
  }

  .home .content .image:hover p {
    display: flex;
    flex-wrap: wrap;
    bottom: -1%;
    color: #eee;
    font-size: 3rem;
    font-weight: 400;
    background: rgba(0, 0, 0, .5);
    line-height: 1.8;
    width: 100%;
    padding: .625rem 0;
    align-items: center;
    justify-content: center;
    height: 15vh;
  }