.home {
    /* min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../assets/banner5.png) no-repeat;
    background-size: cover;
    background-position: center; */
    padding: 2.5rem 0 0 ;
  }

  #home .row {
    background: none;
  }
  
  .home .content {
    /* max-width: 60rem; */
  }
  
  /* .home .content h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
  }
  
  .home .content p {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee;
  } */