/* media queries */
@media (max-width:915px){
  .home .content .image:hover p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}

@media (max-width: 991x) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  .section {
    padding: 2rem;
  }
  .home .content .image p {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  /* Toggle */

  #menu-btn.fa-times {
    transform: rotate(180deg);
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: -250%;
    background: var(--white);
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }

  .header .navbar.active {
    right: 0;
    transition: all ease 0.8s;
  }

  .header .navbar a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .home {
    background-position: left;
    justify-content: center;
    text-align: center;
  }

  .home .content h3 {
    font-size: 4.5rem;
  }

  .home .content p {
    font-size: 1.5rem;
  }
  /* .about-btn {
    width: 40%;
  } */
}

@media(max-width: 700px){
  .home .content .image p{
    font-size: 1.8rem !important;
  }
}

@media (max-width: 550px) {
  /* .about-btn {
    width: 60%;
  } */
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .footer .credit {
    font-size: 1.2rem;
  }
  .about-btn {
    width: 40%;
  }
  .home .content .image p{
    font-size: 1.7rem !important;
  }
  .home .content .image:hover p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 40%;
  }
  .header .logo img {
    height: 2rem;
  }
  .home .content .image p {
    font-size: 1.5rem !important;
  }
}
