.menu span {
    color: var(--white);
  }
  .menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
  }
  
  .menu .box-container .box {
    padding: 5rem;
    text-align: center;
    border: var(--border);
  }
  
  .menu .box-container .box img {
    height: 10rem;
  }
  
  .menu .box-container .box h3 {
    color: var(--verde-claro);
    font-size: 2rem;
    padding: 1rem 0;
  }
  
  .menu .box-container .box:hover {
    background: var(--white);
  }
  .menu .box-container .box .btn:hover {
    color: var(--white);
    /* border: 2px solid var(--verde-claro) ; */
  }
  
  .menu .box-container .box:hover > * {
    color: var(--main-color);
  }
  