.products span {
    color: var(--white);
  }
  
  .products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
  }
  
  .products .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 0 0 15rem;
  }
  
  .products .box-container .box .image {
    padding: 2rem ;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .products .box-container .box .image img {
    width: 100%;
    height: 300px;
    border-radius: 1rem;
    object-fit: cover;
  }
  
  .products .box-container .box .content h3 {
    color: #fff;
    font-size: 2.5rem;
  }
  
  .products .box-container .content .stars {
    padding: 1.5rem;
    color: var(--verde-claro);
    font-size: 1.7rem;
  }