@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --main-color: #03aa94;
  --verde-claro: #8accc4;
  --verde-medio: #1b978f;
  --verde-medio-claro: #38b4a2;
  --bg: #010103;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
  --white: #ffffff;
  --black: #13131a;
  --green1: #68fe03;
  --green2: #3aed00;
  --green3: #13cd00;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  /* text-transform: capitalize; */
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1rem;
  
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--verde-claro);
  border-radius: 5rem;
}

body {
  background: var(--main-color);
}

section {
  padding: 2rem 7%;
}

.heading {
  text-align: center;
  color: var(--verde-claro);
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}

.heading span {
  color: var(--verde-claro);
  text-transform: uppercase;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  font-size: 1.7rem;
  color: var(--verde-claro);
  background: var(--verde-medio);
  cursor: pointer;
  border: 2px solid var(--verde-claro);
  border-radius: .5rem;
  
}

.btn:hover {
  /* letter-spacing: .2rem; */
  color:var(--white);
  border:2px solid var(--white);
  
}