@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --main-color: #03aa94;
    --verde-claro:#8accc4;
    --verde-medio:#1b978f;
    --verde-medio-claro: #38b4a2;
    --bg: #010103;
    --border: .1rem solid rgba(255,255,255,.3);
    --withe:#ffffff; 
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;

}

html::-webkit-scrollbar {
    width: .8rem;

}

html:: ::-webkit-scrollbar-track {
    background: transparent;
}

html:: ::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background: var(--main-color);
}

section {
    padding: 2rem 7%;
}

.heading {
    text-align: center;
    color: var(--verde-claro);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span {
    color: var(--verde-claro);
    text-transform: uppercase;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #000;
    background: var(--verde-medio);
    cursor: pointer;
}

.btn:hover {
    /* letter-spacing: .2rem; */
    color: #fff;
}

.header {
    background: var(--verde-claro);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .logo img {
    height: 6rem;
    border-radius: 10%;
}

.header .navbar a {
    display: inline-block;
    font-size: 1.8rem;
    padding: 1rem;
    color: #fff;
    position: relative;
    margin-right: 1rem;
  }
  .header .navbar a:nth-child(1) {
    color: var(--main-color);
  }
  .header .navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 2px;
    background: var(--blue);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
  }
  .header .navbar a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
 
  .header .navbar a:hover {
    color: var(--main-color);
    
  }

.header .icons div {
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover {
    color: var(--main-color);
}

.menu-btn {
    display: none;
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../assets/banner2.png)no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content {
    max-width: 60rem;
}

.home .content h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}

.home .content p {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee;
}

.about .row {
    display: flex;
    align-items: center;
    background: var(--verde-claro);
    flex-wrap: wrap;
}

.about .row .img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #fff;
}

.about .row .content p {
    font-size: 1.6rem;
    color: var(--verde-medio)
    ;
    padding: 1rem 0;
    line-height: 1.8;
}

.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    padding: 5rem;
    text-align: center;
    border: var(--border);
}

.menu .box-container .box img {
    height: 10rem;
}

.menu .box-container .box h3 {
    color: var(--verde-claro);
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box:hover {
    background: var(--withe);
}

.menu .box-container  .box:hover > * {
    color:black
}

.products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.products .box-container .box {
   text-align: center;
   border: var(--border);
   padding: 2rem;
}


.products .box-container .box .image {
    padding: 2.5rem 0;
}

.products .box-container .box .image img {
    height: 25rem;
}

.products .box-container .box .content h3 {
    color: #fff;
    font-size: 2.5rem;
}

.products .box-container .content .stars {
    padding: 1.5rem;
    color: var(--verde-claro);
    font-size: 1.7rem;
}

.suggestion .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.suggestion .box-container .box {
    border: var(--border);
}

.suggestion .box-container .box .image {
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

